In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

w2023 = pd.read_csv("../data/full_data/2023_LoL_esports_match_data_from_OraclesElixir.csv")

C:\Users\yandrade\AppData\Local\Temp\ipykernel_22956\4209552701.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  w2023 = pd.read_csv("../data/full_data/2023_LoL_esports_match_data_from_OraclesElixir.csv")

In [40]:
list(w2023.columns)

['gameid',
 'datacompleteness',
 'url',
 'league',
 'year',
 'split',
 'playoffs',
 'date',
 'game',
 'patch',
 'participantid',
 'side',
 'position',
 'playername',
 'playerid',
 'teamname',
 'teamid',
 'champion',
 'ban1',
 'ban2',
 'ban3',
 'ban4',
 'ban5',
 'pick1',
 'pick2',
 'pick3',
 'pick4',
 'pick5',
 'gamelength',
 'result',
 'kills',
 'deaths',
 'assists',
 'teamkills',
 'teamdeaths',
 'doublekills',
 'triplekills',
 'quadrakills',
 'pentakills',
 'firstblood',
 'firstbloodkill',
 'firstbloodassist',
 'firstbloodvictim',
 'team kpm',
 'ckpm',
 'firstdragon',
 'dragons',
 'opp_dragons',
 'elementaldrakes',
 'opp_elementaldrakes',
 'infernals',
 'mountains',
 'clouds',
 'oceans',
 'chemtechs',
 'hextechs',
 'dragons (type unknown)',
 'elders',
 'opp_elders',
 'firstherald',
 'heralds',
 'opp_heralds',
 'void_grubs',
 'opp_void_grubs',
 'firstbaron',
 'barons',
 'opp_barons',
 'atakhans',
 'opp_atakhans',
 'firsttower',
 'towers',
 'opp_towers',
 'firstmidtower',
 'firsttothreetowers',
 'turretplates',
 'opp_turretplates',
 'inhibitors',
 'opp_inhibitors',
 'damagetochampions',
 'dpm',
 'damageshare',
 'damagetakenperminute',
 'damagemitigatedperminute',
 'damagetotowers',
 'wardsplaced',
 'wpm',
 'wardskilled',
 'wcpm',
 'controlwardsbought',
 'visionscore',
 'vspm',
 'totalgold',
 'earnedgold',
 'earned gpm',
 'earnedgoldshare',
 'goldspent',
 'gspd',
 'gpr',
 'total cs',
 'minionkills',
 'monsterkills',
 'monsterkillsownjungle',
 'monsterkillsenemyjungle',
 'cspm',
 'goldat10',
 'xpat10',
 'csat10',
 'opp_goldat10',
 'opp_xpat10',
 'opp_csat10',
 'golddiffat10',
 'xpdiffat10',
 'csdiffat10',
 'killsat10',
 'assistsat10',
 'deathsat10',
 'opp_killsat10',
 'opp_assistsat10',
 'opp_deathsat10',
 'goldat15',
 'xpat15',
 'csat15',
 'opp_goldat15',
 'opp_xpat15',
 'opp_csat15',
 'golddiffat15',
 'xpdiffat15',
 'csdiffat15',
 'killsat15',
 'assistsat15',
 'deathsat15',
 'opp_killsat15',
 'opp_assistsat15',
 'opp_deathsat15',
 'goldat20',
 'xpat20',
 'csat20',
 'opp_goldat20',
 'opp_xpat20',
 'opp_csat20',
 'golddiffat20',
 'xpdiffat20',
 'csdiffat20',
 'killsat20',
 'assistsat20',
 'deathsat20',
 'opp_killsat20',
 'opp_assistsat20',
 'opp_deathsat20',
 'goldat25',
 'xpat25',
 'csat25',
 'opp_goldat25',
 'opp_xpat25',
 'opp_csat25',
 'golddiffat25',
 'xpdiffat25',
 'csdiffat25',
 'killsat25',
 'assistsat25',
 'deathsat25',
 'opp_killsat25',
 'opp_assistsat25',
 'opp_deathsat25']

In [41]:
list(w2023["league"].unique())

['LFL2',
 'DDH',
 'EL',
 'LPL',
 'GL',
 'LCKC',
 'NEXO',
 'UL',
 'LVP SL',
 'LCK',
 'LFL',
 'PRM',
 'LMF',
 'SL (LATAM)',
 'VL',
 'CBLOL',
 'LEC',
 'NACL',
 'LCO',
 'CBLOLA',
 'LHE',
 'NLC',
 'GLL',
 'ESLOL',
 'LLA',
 'EBL',
 'TCL',
 'PGN',
 'LPLOL',
 'LCS',
 'HM',
 'LJL',
 'HC',
 'AL',
 'PCS',
 'LDL',
 'VCS',
 'EM',
 'MSI',
 'LAS',
 'LRN',
 'LRS',
 'EPL',
 'LJLA',
 'CT',
 'WLDs',
 'ASCI',
 'CDF',
 'IC',
 'USP',
 'DCup']

In [ ]:
# Selecionar poucas colunas e verificar porque o valor de partidas é 124 e não 110

w2023.head(5)

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,opp_csat25,golddiffat25,xpdiffat25,csdiffat25,killsat25,assistsat25,deathsat25,opp_killsat25,opp_assistsat25,opp_deathsat25
0,ESPORTSTMNT06_2753012,complete,NaN,LFL2,2023,Spring,0,2023-01-10 17:07:16,1,13.01,...,212.0,1356.0,891.0,32.0,0.0,0.0,0.0,0.0,1.0,0.0
1,ESPORTSTMNT06_2753012,complete,NaN,LFL2,2023,Spring,0,2023-01-10 17:07:16,1,13.01,...,172.0,23.0,-932.0,-53.0,0.0,0.0,1.0,0.0,1.0,0.0
2,ESPORTSTMNT06_2753012,complete,NaN,LFL2,2023,Spring,0,2023-01-10 17:07:16,1,13.01,...,245.0,-264.0,-1191.0,-24.0,0.0,0.0,0.0,1.0,0.0,0.0
3,ESPORTSTMNT06_2753012,complete,NaN,LFL2,2023,Spring,0,2023-01-10 17:07:16,1,13.01,...,220.0,470.0,682.0,14.0,0.0,0.0,0.0,1.0,1.0,0.0
4,ESPORTSTMNT06_2753012,complete,NaN,LFL2,2023,Spring,0,2023-01-10 17:07:16,1,13.01,...,4.0,-47.0,-476.0,8.0,0.0,0.0,1.0,0.0,2.0,0.0

In [58]:
#w2023 = w2023[(w2023['league'] == "WLDs") & (w2023['datacompleteness'] == "complete")]

In [44]:
#w2023.index

In [45]:
#w2023 = w2023.groupby(['gameid']).agg({'kills':'sum', 'deaths':'sum', 'assists':'sum'})

In [46]:
#w2023

In [47]:
#w2023.shape[0]