## Análise LOUD 1º Split
Esse notebook possui como base analisar o que mudou no desempenho da LOUD da primeira fase para os PlayOffs utilizando dados. Ele não procura entender as mudanças de filosofia de decisão dos jogadores, tendo em vista o caráter subjetivo e até a falta de dados para essa informação.

Mas dentro dos dados, o que a LOUD fez menos ou mais para conseguir melhorar seu desempenho? O que dentro do jogo aconteceu? A ideia é tentar tatear a base da informação que indique a tendência do time

In [6]:
import pandas as pd
import numpy as np

data = pd.read_csv("../../data/full_data/2026_LoL_esports_match_data_from_OraclesElixir.csv")

In [ ]:
# Filtrando apenas as partidas da LOUD
data = data.loc[data["teamname"] == "LOUD"]

# Chamando tail para saber se  os dados estão atualizados
data.tail(3)

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,opp_csat25,golddiffat25,xpdiffat25,csdiffat25,killsat25,assistsat25,deathsat25,opp_killsat25,opp_assistsat25,opp_deathsat25
12320,LOLTMNT02_349365,complete,NaN,CBLOL,2026,NaN,0,2026-02-08 19:56:27,3,16.03,...,257.0,975.0,1396.0,-3.0,5.0,1.0,0.0,3.0,1.0,1.0
12321,LOLTMNT02_349365,complete,NaN,CBLOL,2026,NaN,0,2026-02-08 19:56:27,3,16.03,...,37.0,910.0,266.0,10.0,0.0,7.0,2.0,0.0,4.0,3.0
12323,LOLTMNT02_349365,complete,NaN,CBLOL,2026,NaN,0,2026-02-08 19:56:27,3,16.03,...,963.0,3666.0,7598.0,70.0,8.0,14.0,6.0,6.0,13.0,8.0

In [ ]:
# Verificando se existe uma forma de distinguir os playoffs através da coluna "playoffs"
data["playoffs"].unique()

array([0])

In [24]:
data = data.drop(["split","playoffs","url"],axis=1)

In [26]:
for column in data.columns:
    print(column)

gameid
datacompleteness
league
year
date
game
patch
participantid
side
position
playername
playerid
teamname
teamid
firstPick
champion
ban1
ban2
ban3
ban4
ban5
pick1
pick2
pick3
pick4
pick5
gamelength
result
kills
deaths
assists
teamkills
teamdeaths
doublekills
triplekills
quadrakills
pentakills
firstblood
firstbloodkill
firstbloodassist
firstbloodvictim
team kpm
ckpm
firstdragon
dragons
opp_dragons
elementaldrakes
opp_elementaldrakes
infernals
mountains
clouds
oceans
chemtechs
hextechs
dragons (type unknown)
elders
opp_elders
firstherald
heralds
opp_heralds
void_grubs
opp_void_grubs
firstbaron
barons
opp_barons
atakhans
opp_atakhans
firsttower
towers
opp_towers
firstmidtower
firsttothreetowers
turretplates
opp_turretplates
inhibitors
opp_inhibitors
damagetochampions
dpm
damageshare
damagetakenperminute
damagemitigatedperminute
damagetotowers
wardsplaced
wpm
wardskilled
wcpm
controlwardsbought
visionscore
vspm
totalgold
earnedgold
earned gpm
earnedgoldshare
goldspent
gspd
gpr
total cs
minionkills
monsterkills
monsterkillsownjungle
monsterkillsenemyjungle
cspm
goldat10
xpat10
csat10
opp_goldat10
opp_xpat10
opp_csat10
golddiffat10
xpdiffat10
csdiffat10
killsat10
assistsat10
deathsat10
opp_killsat10
opp_assistsat10
opp_deathsat10
goldat15
xpat15
csat15
opp_goldat15
opp_xpat15
opp_csat15
golddiffat15
xpdiffat15
csdiffat15
killsat15
assistsat15
deathsat15
opp_killsat15
opp_assistsat15
opp_deathsat15
goldat20
xpat20
csat20
opp_goldat20
opp_xpat20
opp_csat20
golddiffat20
xpdiffat20
csdiffat20
killsat20
assistsat20
deathsat20
opp_killsat20
opp_assistsat20
opp_deathsat20
goldat25
xpat25
csat25
opp_goldat25
opp_xpat25
opp_csat25
golddiffat25
xpdiffat25
csdiffat25
killsat25
assistsat25
deathsat25
opp_killsat25
opp_assistsat25
opp_deathsat25

In [41]:
for i in data.loc[:,"dragons":"barons"]:
    print(f"{i} - {data[i].isna().sum()}")

dragons - 60
opp_dragons - 60
elementaldrakes - 60
opp_elementaldrakes - 60
infernals - 60
mountains - 60
clouds - 60
oceans - 60
chemtechs - 60
hextechs - 60
dragons (type unknown) - 72
elders - 60
opp_elders - 60
firstherald - 60
heralds - 60
opp_heralds - 60
void_grubs - 60
opp_void_grubs - 60
firstbaron - 60
barons - 0

In [46]:
data[data.loc[:,"dragons":"barons"].notna()]

,gameid,datacompleteness,league,year,date,game,patch,participantid,side,position,...,opp_csat25,golddiffat25,xpdiffat25,csdiffat25,killsat25,assistsat25,deathsat25,opp_killsat25,opp_assistsat25,opp_deathsat25
1884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1887,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
data["clouds"][data["clouds"].notna()]

1894     0.0
2218     2.0
4691     0.0
5003     0.0
5074     0.0
8170     0.0
8878     0.0
11650    0.0
11687    0.0
12251    0.0
12299    0.0
12323    3.0
Name: clouds, dtype: float64

In [ ]:
# unique() retorna um ndarray e para contar a quantidade de elementos eu utilizei o .size
data["gameid"].unique().size

12