In [110]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [111]:
data = pd.read_csv("../data/2025_LoL_esports_match_data_from_OraclesElixir.csv")

C:\Users\yagoa\AppData\Local\Temp\ipykernel_11168\1634243045.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../data/2025_LoL_esports_match_data_from_OraclesElixir.csv")

In [112]:
data["league"].unique()

array(['LFL2', 'LPL', 'LCKC', 'LVP SL', 'LCK', 'NLC', 'LCP', 'LEC', 'HLL',
       'PRM', 'LFL', 'LIT', 'TCL', 'HW', 'LJL', 'LTA S', 'LTA N', 'RL',
       'NEXO', 'EBL', 'PCS', 'ROL', 'LPLOL', 'AL', 'LTA'], dtype=object)

In [113]:
lta = data[data["league"] == "LTA"]

In [114]:
colunas_desempenho_por_tempo = ['position', 'goldat10', 'xpat10', 'csat10', 'golddiffat10', 'xpdiffat10', 'csdiffat10', 'killsat10', 'assistsat10', 'deathsat10', 'goldat15', 'xpat15', 'csat15','golddiffat15', 'xpdiffat15', 'csdiffat15', 'killsat15',  'assistsat15',  'deathsat15','goldat20', 'xpat20', 'csat20', 'golddiffat20','xpdiffat20', 'csdiffat20', 'killsat20', 'assistsat20', 'deathsat20','goldat25', 'xpat25', 'csat25','golddiffat25', 'xpdiffat25', 'csdiffat25', 'killsat25', 'assistsat25', 'deathsat25']

In [115]:
lta_s_teams = list(data[data["league"] == "LTA S"]["teamname"].unique())
lta_n_teams = list(data[data["league"] == "LTA N"]["teamname"].unique())

In [116]:
def region(team):
    if team in lta_n_teams:
        return "LTA_N"
    elif team in lta_s_teams:
        return "LTA_S"

In [117]:
lta.loc[:,"region"] = lta["teamname"].apply(region)

C:\Users\yagoa\AppData\Local\Temp\ipykernel_11168\2498242305.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lta.loc[:,"region"] = lta["teamname"].apply(region)

In [118]:
lta[["teamname", "region"]].tail(20)

            teamname region
12448  Isurus Estral  LTA_S
12449    Team Liquid  LTA_N
12450    Team Liquid  LTA_N
12451    Team Liquid  LTA_N
12452    Team Liquid  LTA_N
12453    Team Liquid  LTA_N
12454  Isurus Estral  LTA_S
12455    Team Liquid  LTA_N
12456    Team Liquid  LTA_N
12457    Team Liquid  LTA_N
12458    Team Liquid  LTA_N
12459    Team Liquid  LTA_N
12460    Team Liquid  LTA_N
12461  Isurus Estral  LTA_S
12462  Isurus Estral  LTA_S
12463  Isurus Estral  LTA_S
12464  Isurus Estral  LTA_S
12465  Isurus Estral  LTA_S
12466    Team Liquid  LTA_N
12467  Isurus Estral  LTA_S

In [119]:
lta

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,golddiffat25,xpdiffat25,csdiffat25,killsat25,assistsat25,deathsat25,opp_killsat25,opp_assistsat25,opp_deathsat25,region
11964,LOLTMNT02_217276,complete,NaN,LTA,2025,NaN,1,2025-02-15 19:12:10,1,15.03,...,559.0,599.0,-15.0,0.0,0.0,0.0,0.0,0.0,0.0,LTA_N
11965,LOLTMNT02_217276,complete,NaN,LTA,2025,NaN,1,2025-02-15 19:12:10,1,15.03,...,545.0,947.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,LTA_N
11966,LOLTMNT02_217276,complete,NaN,LTA,2025,NaN,1,2025-02-15 19:12:10,1,15.03,...,1673.0,3313.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,LTA_N
11967,LOLTMNT02_217276,complete,NaN,LTA,2025,NaN,1,2025-02-15 19:12:10,1,15.03,...,119.0,-740.0,-10.0,0.0,0.0,0.0,0.0,0.0,0.0,LTA_N
11968,LOLTMNT02_217276,complete,NaN,LTA,2025,NaN,1,2025-02-15 19:12:10,1,15.03,...,546.0,82.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,LTA_N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12463,LOLTMNT02_218569,complete,NaN,LTA,2025,NaN,1,2025-02-16 23:17:16,3,15.03,...,-388.0,671.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,LTA_S
12464,LOLTMNT02_218569,complete,NaN,LTA,2025,NaN,1,2025-02-16 23:17:16,3,15.03,...,-1064.0,-456.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,LTA_S
12465,LOLTMNT02_218569,complete,NaN,LTA,2025,NaN,1,2025-02-16 23:17:16,3,15.03,...,-1043.0,173.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,LTA_S
12466,LOLTMNT02_218569,complete,NaN,LTA,2025,NaN,1,2025-02-16 23:17:16,3,15.03,...,2317.0,1392.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,LTA_N
12467,LOLTMNT02_218569,complete,NaN,LTA,2025,NaN,1,2025-02-16 23:17:16,3,15.03,...,-2317.0,-1392.0,-3.0,0.0,0.0,0.0,0.0,0.0,0.0,LTA_S

In [124]:
lta.iloc[:,:15].head(15)

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,participantid,side,position,playername,playerid
11964,LOLTMNT02_217276,complete,NaN,LTA,2025,NaN,1,2025-02-15 19:12:10,1,15.03,1,Blue,top,Sniper,oe:player:007be3acd5669d100711b13d79e2336
11965,LOLTMNT02_217276,complete,NaN,LTA,2025,NaN,1,2025-02-15 19:12:10,1,15.03,2,Blue,jng,River,oe:player:7c3395efccd48fe73592001501bef83
11966,LOLTMNT02_217276,complete,NaN,LTA,2025,NaN,1,2025-02-15 19:12:10,1,15.03,3,Blue,mid,Quid,oe:player:8f8eaac8e99c203ee76e57c5c81c91f
11967,LOLTMNT02_217276,complete,NaN,LTA,2025,NaN,1,2025-02-15 19:12:10,1,15.03,4,Blue,bot,FBI,oe:player:73d2b65353d7b00e0f198ffdc085edc
11968,LOLTMNT02_217276,complete,NaN,LTA,2025,NaN,1,2025-02-15 19:12:10,1,15.03,5,Blue,sup,Eyla,oe:player:dbe844fcbbc7f54654e54242e79acac
11969,LOLTMNT02_217276,complete,NaN,LTA,2025,NaN,1,2025-02-15 19:12:10,1,15.03,6,Red,top,Wizer,oe:player:840d0b77e71408d3da84e4f0cae4b73
11970,LOLTMNT02_217276,complete,NaN,LTA,2025,NaN,1,2025-02-15 19:12:10,1,15.03,7,Red,jng,CarioK,oe:player:5e07433d52dbc7bbc4faaf9492dbd2c
11971,LOLTMNT02_217276,complete,NaN,LTA,2025,NaN,1,2025-02-15 19:12:10,1,15.03,8,Red,mid,dyNquedo,oe:player:127d6ec83484da3c8b39b70c70f1226
11972,LOLTMNT02_217276,complete,NaN,LTA,2025,NaN,1,2025-02-15 19:12:10,1,15.03,9,Red,bot,TitaN,oe:player:1c010180887360e5d6ab967fd93693d
11973,LOLTMNT02_217276,complete,NaN,LTA,2025,NaN,1,2025-02-15 19:12:10,1,15.03,10,Red,sup,Kuri,oe:player:87b0ff8e56b0ce96bc0a82ea5dc9a7e
11974,LOLTMNT02_217276,complete,NaN,LTA,2025,NaN,1,2025-02-15 19:12:10,1,15.03,100,Blue,team,NaN,NaN
11975,LOLTMNT02_217276,complete,NaN,LTA,2025,NaN,1,2025-02-15 19:12:10,1,15.03,200,Red,team,NaN,NaN
11988,LOLTMNT02_217290,complete,NaN,LTA,2025,NaN,1,2025-02-15 20:02:58,2,15.03,1,Blue,top,Wizer,oe:player:840d0b77e71408d3da84e4f0cae4b73
11989,LOLTMNT02_217290,complete,NaN,LTA,2025,NaN,1,2025-02-15 20:02:58,2,15.03,2,Blue,jng,CarioK,oe:player:5e07433d52dbc7bbc4faaf9492dbd2c
11990,LOLTMNT02_217290,complete,NaN,LTA,2025,NaN,1,2025-02-15 20:02:58,2,15.03,3,Blue,mid,dyNquedo,oe:player:127d6ec83484da3c8b39b70c70f1226

In [125]:
lta = lta[colunas_desempenho_por_tempo]

In [130]:
lta.groupby(["position"]).agg({"golddiffat10":"sum"})

          golddiffat10
position
bot                0.0
jng                0.0
mid                0.0
sup                0.0
team               0.0
top                0.0