In [1]:
import pandas as pd
import numpy as np

full_data = pd.read_csv("../data/full_data/2025_LoL_esports_match_data_from_OraclesElixir (1).csv")

full_data.head()

C:\Users\yandrade\AppData\Local\Temp\ipykernel_5888\3391291730.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  full_data = pd.read_csv("../data/full_data/2025_LoL_esports_match_data_from_OraclesElixir (1).csv")

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,opp_csat25,golddiffat25,xpdiffat25,csdiffat25,killsat25,assistsat25,deathsat25,opp_killsat25,opp_assistsat25,opp_deathsat25
0,LOLTMNT03_179647,complete,NaN,LFL2,2025,Winter,0,2025-01-11 11:11:24,1,15.01,...,200.0,224.0,-1.0,17.0,1.0,1.0,2.0,2.0,4.0,2.0
1,LOLTMNT03_179647,complete,NaN,LFL2,2025,Winter,0,2025-01-11 11:11:24,1,15.01,...,157.0,-2363.0,-1444.0,-18.0,0.0,1.0,2.0,1.0,7.0,0.0
2,LOLTMNT03_179647,complete,NaN,LFL2,2025,Winter,0,2025-01-11 11:11:24,1,15.01,...,241.0,-1552.0,-2465.0,-41.0,1.0,0.0,2.0,1.0,5.0,1.0
3,LOLTMNT03_179647,complete,NaN,LFL2,2025,Winter,0,2025-01-11 11:11:24,1,15.01,...,257.0,-2613.0,-1156.0,-6.0,1.0,1.0,2.0,6.0,2.0,0.0
4,LOLTMNT03_179647,complete,NaN,LFL2,2025,Winter,0,2025-01-11 11:11:24,1,15.01,...,20.0,-662.0,-734.0,18.0,0.0,2.0,2.0,0.0,8.0,0.0

In [ ]:
# Separação das colunas de análise

columns = ["gameid","datacompleteness","league","split","playoffs","game","participantid", "side", "position","playername","playerid","teamname","teamid","champion","gamelength","result","kills","deaths", "assists","teamkills","teamdeaths","doublekills","triplekills","quadrakills","pentakills","firstblood","firstbloodkill","firstbloodassist","firstbloodvictim","team kpm","ckpm","damagetochampions","dpm","damageshare","damagetakenperminute","damagemitigatedperminute","damagetotowers","wardsplaced","wpm","wardskilled","wcpm","controlwardsbought","visionscore","vspm","totalgold","earnedgold","earned gpm","earnedgoldshare","goldspent","gspd","gpr","total cs","cspm","goldat10","xpat10","csat10","opp_goldat10","opp_xpat10","opp_csat10","golddiffat10","xpdiffat10","csdiffat10","killsat10","assistsat10","deathsat10","opp_killsat10","opp_assistsat10","opp_deathsat10","goldat15","xpat15","csat15","opp_goldat15","opp_xpat15","opp_csat15","golddiffat15","xpdiffat15","csdiffat15","killsat15","assistsat15","deathsat15","opp_killsat15","opp_assistsat15","opp_deathsat15","goldat20","xpat20","csat20","opp_goldat20","opp_xpat20","opp_csat20","golddiffat20","xpdiffat20","csdiffat20","killsat20","assistsat20","deathsat20","opp_killsat20","opp_assistsat20","opp_deathsat20","goldat25","xpat25","csat25","opp_goldat25","opp_xpat25","opp_csat25","golddiffat25","xpdiffat25","csdiffat25","killsat25","assistsat25","deathsat25","opp_killsat25","opp_assistsat25","opp_deathsat25"]

In [ ]:
# Ajustando os dados para obter apenas os dados completos

full_data = full_data[full_data["datacompleteness"] == "complete"]

In [ ]:
# Para realizar um filtro em 2 campos eu posso utilizar a indexacao dataframe[colunas que quero buscar][filtro]
full_data["playername"][(full_data["teamname"] == "Flamengo MDL") & (full_data["position"] == "mid")]

22471     Pilot
22483     Pilot
24559     Pilot
24578     Pilot
27667     Pilot
          ...
113078     Envy
113114     Envy
113143     Envy
113162     Envy
113174     Envy
Name: playername, Length: 77, dtype: object

In [26]:
sup_data = full_data[["playername","league","split","teamname","position","champion","side","dpm","damagetakenperminute","damagemitigatedperminute","damageshare","damagetotowers","wardsplaced","wpm","wardskilled","wcpm","controlwardsbought","visionscore","vspm","totalgold","earnedgold","earned gpm","earnedgoldshare","goldspent","kills","deaths", "assists","goldat10","xpat10","csat10","golddiffat10","xpdiffat10","killsat10","assistsat10","deathsat10","goldat15","xpat15","csat15","golddiffat15","xpdiffat15","csdiffat15","killsat15","assistsat15","deathsat15","goldat20","xpat20","csat20","golddiffat20","xpdiffat20","csdiffat20","killsat20","assistsat20","deathsat20","goldat25","xpat25","csat25","golddiffat25","xpdiffat25","csdiffat25","killsat25","assistsat25","deathsat25"]]

In [27]:
sup_data = sup_data[(sup_data["league"] == "CD") & (sup_data["position"] == "sup")]

In [28]:
sup_data

,playername,league,split,teamname,position,champion,side,dpm,damagetakenperminute,damagemitigatedperminute,...,deathsat20,goldat25,xpat25,csat25,golddiffat25,xpdiffat25,csdiffat25,killsat25,assistsat25,deathsat25
7204,Kick,CD,NaN,Geração Estrutura,sup,Rakan,Blue,124.8590,600.5228,517.6115,...,3.0,6094.0,5991.0,28.0,696.0,582.0,-9.0,0.0,13.0,3.0
7209,cicil,CD,NaN,Dark Roses,sup,Leona,Red,240.4921,696.2891,872.7524,...,4.0,5398.0,5409.0,37.0,-696.0,-582.0,9.0,0.0,3.0,5.0
7216,konseki,CD,NaN,Gwenchana,sup,Rell,Blue,173.5745,473.5745,739.7106,...,1.0,5669.0,6473.0,22.0,-82.0,816.0,-2.0,0.0,6.0,1.0
7221,Krastyel,CD,NaN,RATZ,sup,Braum,Red,174.5876,696.1216,707.1491,...,2.0,5751.0,5657.0,24.0,82.0,-816.0,2.0,0.0,3.0,2.0
7228,Thominhas,CD,NaN,XV eSports,sup,Leona,Blue,153.2967,422.3377,527.7722,...,2.0,6452.0,6773.0,26.0,955.0,1436.0,2.0,3.0,5.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108525,konseki,CD,NaN,7REX,sup,Leona,Red,188.5766,696.8649,604.1802,...,2.0,5507.0,5701.0,30.0,-1179.0,-601.0,-4.0,0.0,4.0,4.0
108532,konseki,CD,NaN,7REX,sup,Braum,Blue,175.5502,544.8086,330.4665,...,1.0,5172.0,5336.0,28.0,-746.0,-1094.0,6.0,0.0,1.0,1.0
108537,Momochi,CD,NaN,Cusprills,sup,Bard,Red,340.0478,504.6172,330.9689,...,0.0,5918.0,6430.0,22.0,746.0,1094.0,-6.0,0.0,7.0,0.0
108544,konseki,CD,NaN,7REX,sup,Blitzcrank,Blue,186.6937,686.7140,434.6045,...,3.0,5866.0,6125.0,32.0,-49.0,-221.0,0.0,1.0,5.0,4.0
108549,Momochi,CD,NaN,Cusprills,sup,Nautilus,Red,290.9331,573.6207,447.9615,...,3.0,5915.0,6346.0,32.0,49.0,221.0,0.0,0.0,11.0,4.0

In [ ]:
sup_data.agg