In [8]:
import pandas as pd
import numpy as np

full_data = pd.read_csv("../data/full_data/2025_LoL_esports_match_data_from_OraclesElixir (1).csv")

full_data.head()

C:\Users\yandrade\AppData\Local\Temp\ipykernel_28884\3391291730.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  full_data = pd.read_csv("../data/full_data/2025_LoL_esports_match_data_from_OraclesElixir (1).csv")

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,opp_csat25,golddiffat25,xpdiffat25,csdiffat25,killsat25,assistsat25,deathsat25,opp_killsat25,opp_assistsat25,opp_deathsat25
0,LOLTMNT03_179647,complete,NaN,LFL2,2025,Winter,0,2025-01-11 11:11:24,1,15.01,...,200.0,224.0,-1.0,17.0,1.0,1.0,2.0,2.0,4.0,2.0
1,LOLTMNT03_179647,complete,NaN,LFL2,2025,Winter,0,2025-01-11 11:11:24,1,15.01,...,157.0,-2363.0,-1444.0,-18.0,0.0,1.0,2.0,1.0,7.0,0.0
2,LOLTMNT03_179647,complete,NaN,LFL2,2025,Winter,0,2025-01-11 11:11:24,1,15.01,...,241.0,-1552.0,-2465.0,-41.0,1.0,0.0,2.0,1.0,5.0,1.0
3,LOLTMNT03_179647,complete,NaN,LFL2,2025,Winter,0,2025-01-11 11:11:24,1,15.01,...,257.0,-2613.0,-1156.0,-6.0,1.0,1.0,2.0,6.0,2.0,0.0
4,LOLTMNT03_179647,complete,NaN,LFL2,2025,Winter,0,2025-01-11 11:11:24,1,15.01,...,20.0,-662.0,-734.0,18.0,0.0,2.0,2.0,0.0,8.0,0.0

In [9]:
# Separação das colunas de análise

columns = ["gameid","datacompleteness","league","split","playoffs","game","participantid", "side", "position","playername","playerid","teamname","teamid","champion","gamelength","result","kills","deaths", "assists","teamkills","teamdeaths","doublekills","triplekills","quadrakills","pentakills","firstblood","firstbloodkill","firstbloodassist","firstbloodvictim","team kpm","ckpm","damagetochampions","dpm","damageshare","damagetakenperminute","damagemitigatedperminute","damagetotowers","wardsplaced","wpm","wardskilled","wcpm","controlwardsbought","visionscore","vspm","totalgold","earnedgold","earned gpm","earnedgoldshare","goldspent","gspd","gpr","total cs","cspm","goldat10","xpat10","csat10","opp_goldat10","opp_xpat10","opp_csat10","golddiffat10","xpdiffat10","csdiffat10","killsat10","assistsat10","deathsat10","opp_killsat10","opp_assistsat10","opp_deathsat10","goldat15","xpat15","csat15","opp_goldat15","opp_xpat15","opp_csat15","golddiffat15","xpdiffat15","csdiffat15","killsat15","assistsat15","deathsat15","opp_killsat15","opp_assistsat15","opp_deathsat15","goldat20","xpat20","csat20","opp_goldat20","opp_xpat20","opp_csat20","golddiffat20","xpdiffat20","csdiffat20","killsat20","assistsat20","deathsat20","opp_killsat20","opp_assistsat20","opp_deathsat20","goldat25","xpat25","csat25","opp_goldat25","opp_xpat25","opp_csat25","golddiffat25","xpdiffat25","csdiffat25","killsat25","assistsat25","deathsat25","opp_killsat25","opp_assistsat25","opp_deathsat25"]

In [10]:
# Ajustando os dados para obter apenas os dados completos

full_data = full_data[full_data["datacompleteness"] == "complete"]

In [11]:
# Para realizar um filtro em 2 campos eu posso utilizar a indexacao dataframe[colunas que quero buscar][filtro]

full_data["playername"][(full_data["teamname"] == "Flamengo MDL") & (full_data["position"] == "mid")]

22471     Pilot
22483     Pilot
24559     Pilot
24578     Pilot
27667     Pilot
          ...
113078     Envy
113114     Envy
113143     Envy
113162     Envy
113174     Envy
Name: playername, Length: 77, dtype: object

In [12]:
# Reagrupando as colunas que vou utilizara efetivamente nos dados de análise

sup_data = full_data[["playername","league","split","teamname","position","champion","side","dpm","damagetakenperminute","damagemitigatedperminute","damageshare","damagetotowers","wardsplaced","wpm","wardskilled","wcpm","controlwardsbought","visionscore","vspm","totalgold","earnedgold","earned gpm","earnedgoldshare","goldspent","kills","deaths", "assists","goldat10","xpat10","csat10","golddiffat10","xpdiffat10","killsat10","assistsat10","deathsat10","goldat15","xpat15","csat15","golddiffat15","xpdiffat15","csdiffat15","killsat15","assistsat15","deathsat15","goldat20","xpat20","csat20","golddiffat20","xpdiffat20","csdiffat20","killsat20","assistsat20","deathsat20","goldat25","xpat25","csat25","golddiffat25","xpdiffat25","csdiffat25","killsat25","assistsat25","deathsat25"]]

In [13]:
# Realizando o filtro final para o dataframe dos suportes do CD

sup_data = sup_data[(sup_data["league"] == "CD") & (sup_data["position"] == "sup")]

In [14]:
# Criando dataframe de dados individuais do momochi

momochi_data = sup_data[sup_data["playername"] == "Momochi"]

In [43]:
# Bloco único para criação do dataframe de KDA dos suportes do Circuito Desafiante

# Criação do df
kda_comparision = pd.DataFrame(columns=["playername","kda_total"])

# Criaçar das listas que receberão os dados do loop for
playername = []
kda_total = []
kda_medio = []
partidas = []

# loop for que vai percorrer cada nome de jogador e calcular seu KDA
for player in sup_data["playername"].unique():
    player_data = sup_data[sup_data["playername"] == player]

    # Criação do agregador de K, D e A dentro do campeonado
    player_kills = player_data.agg({"kills":"sum","deaths":"sum","assists":"sum"}).iloc[0]
    player_deaths = player_data.agg({"kills":"sum","deaths":"sum","assists":"sum"}).iloc[1]
    player_assists = player_data.agg({"kills":"sum","deaths":"sum","assists":"sum"}).iloc[2]

    # Partidas do jogador
    player_matchs = player_data.shape[0]

    # Calculo de KDA Total
    player_kda = ((player_kills+player_deaths+player_assists)/3).round(2)

    # Calculo de KDA Medio
    player_mean_kda = (player_kda/player_matchs).round(2)

    # Acrescentando os dados na lista
    playername.append(player)
    kda_total.append(player_kda)
    kda_medio.append(player_mean_kda)
    partidas.append(player_matchs)

# Colocando dentro do df
kda_comparision["playername"] = playername
kda_comparision["quant_partidas"] = partidas 
kda_comparision["kda_total"] = kda_total
kda_comparision["kda_medio"] = kda_medio

# Resultado final
kda_comparision.sort_values(by="kda_medio",ascending=False).head(6)

   playername  kda_total  quant_partidas  kda_medio
8     tockers       11.0               1      11.00
6       Telas      233.0              39       5.97
9       uZent      269.0              47       5.72
17     Reaper       56.0              10       5.60
12    Momochi      250.0              45       5.56
5       Bulas      277.0              50       5.54

### Dados individuais Momochi

Abaixo segue o conjunto de informações individuais do jogador do T2 Momochi.

In [17]:
# KDA Momochi

# Comecei por esse primeira linha e utilizei ela para montar o agregador mais abaixo
momochi_data.agg({"kills":"sum","deaths":"sum","assists":"sum"})

momochi_kills = momochi_data.agg({"kills":"sum","deaths":"sum","assists":"sum"}).iloc[0]
momochi_deaths = momochi_data.agg({"kills":"sum","deaths":"sum","assists":"sum"}).iloc[1]
momochi_assists = momochi_data.agg({"kills":"sum","deaths":"sum","assists":"sum"}).iloc[2]

momochi_kda = (momochi_kills+momochi_deaths+momochi_assists)/3

In [18]:
# Quantidade de partidas do jogador no CD

partidas_momochi =  momochi_data["league"].value_counts().iloc[0]

In [19]:
print("Dados Momochi")
print("Quantidade de partidas pelo Circuito Desafiante em 2025: ", partidas_momochi)
print("Seu KDA Total durante a competição foi de: ", momochi_kda)

Dados Momochi
Quantidade de partidas pelo Circuito Desafiante em 2025:  45
Seu KDA Total durante a competição foi de:  250.0