In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

w2023 = pd.read_csv("../data/full_data/2023_LoL_esports_match_data_from_OraclesElixir.csv")

C:\Users\yandrade\AppData\Local\Temp\ipykernel_24516\4209552701.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  w2023 = pd.read_csv("../data/full_data/2023_LoL_esports_match_data_from_OraclesElixir.csv")

In [38]:
list(w2023.columns)

['gameid',
 'datacompleteness',
 'url',
 'league',
 'year',
 'split',
 'playoffs',
 'date',
 'game',
 'patch',
 'participantid',
 'side',
 'position',
 'playername',
 'playerid',
 'teamname',
 'teamid',
 'champion',
 'ban1',
 'ban2',
 'ban3',
 'ban4',
 'ban5',
 'pick1',
 'pick2',
 'pick3',
 'pick4',
 'pick5',
 'gamelength',
 'result',
 'kills',
 'deaths',
 'assists',
 'teamkills',
 'teamdeaths',
 'doublekills',
 'triplekills',
 'quadrakills',
 'pentakills',
 'firstblood',
 'firstbloodkill',
 'firstbloodassist',
 'firstbloodvictim',
 'team kpm',
 'ckpm',
 'firstdragon',
 'dragons',
 'opp_dragons',
 'elementaldrakes',
 'opp_elementaldrakes',
 'infernals',
 'mountains',
 'clouds',
 'oceans',
 'chemtechs',
 'hextechs',
 'dragons (type unknown)',
 'elders',
 'opp_elders',
 'firstherald',
 'heralds',
 'opp_heralds',
 'void_grubs',
 'opp_void_grubs',
 'firstbaron',
 'barons',
 'opp_barons',
 'atakhans',
 'opp_atakhans',
 'firsttower',
 'towers',
 'opp_towers',
 'firstmidtower',
 'firsttothreetowers',
 'turretplates',
 'opp_turretplates',
 'inhibitors',
 'opp_inhibitors',
 'damagetochampions',
 'dpm',
 'damageshare',
 'damagetakenperminute',
 'damagemitigatedperminute',
 'damagetotowers',
 'wardsplaced',
 'wpm',
 'wardskilled',
 'wcpm',
 'controlwardsbought',
 'visionscore',
 'vspm',
 'totalgold',
 'earnedgold',
 'earned gpm',
 'earnedgoldshare',
 'goldspent',
 'gspd',
 'gpr',
 'total cs',
 'minionkills',
 'monsterkills',
 'monsterkillsownjungle',
 'monsterkillsenemyjungle',
 'cspm',
 'goldat10',
 'xpat10',
 'csat10',
 'opp_goldat10',
 'opp_xpat10',
 'opp_csat10',
 'golddiffat10',
 'xpdiffat10',
 'csdiffat10',
 'killsat10',
 'assistsat10',
 'deathsat10',
 'opp_killsat10',
 'opp_assistsat10',
 'opp_deathsat10',
 'goldat15',
 'xpat15',
 'csat15',
 'opp_goldat15',
 'opp_xpat15',
 'opp_csat15',
 'golddiffat15',
 'xpdiffat15',
 'csdiffat15',
 'killsat15',
 'assistsat15',
 'deathsat15',
 'opp_killsat15',
 'opp_assistsat15',
 'opp_deathsat15',
 'goldat20',
 'xpat20',
 'csat20',
 'opp_goldat20',
 'opp_xpat20',
 'opp_csat20',
 'golddiffat20',
 'xpdiffat20',
 'csdiffat20',
 'killsat20',
 'assistsat20',
 'deathsat20',
 'opp_killsat20',
 'opp_assistsat20',
 'opp_deathsat20',
 'goldat25',
 'xpat25',
 'csat25',
 'opp_goldat25',
 'opp_xpat25',
 'opp_csat25',
 'golddiffat25',
 'xpdiffat25',
 'csdiffat25',
 'killsat25',
 'assistsat25',
 'deathsat25',
 'opp_killsat25',
 'opp_assistsat25',
 'opp_deathsat25']

In [39]:
list(w2023["league"].unique())

['LFL2',
 'DDH',
 'EL',
 'LPL',
 'GL',
 'LCKC',
 'NEXO',
 'UL',
 'LVP SL',
 'LCK',
 'LFL',
 'PRM',
 'LMF',
 'SL (LATAM)',
 'VL',
 'CBLOL',
 'LEC',
 'NACL',
 'LCO',
 'CBLOLA',
 'LHE',
 'NLC',
 'GLL',
 'ESLOL',
 'LLA',
 'EBL',
 'TCL',
 'PGN',
 'LPLOL',
 'LCS',
 'HM',
 'LJL',
 'HC',
 'AL',
 'PCS',
 'LDL',
 'VCS',
 'EM',
 'MSI',
 'LAS',
 'LRN',
 'LRS',
 'EPL',
 'LJLA',
 'CT',
 'WLDs',
 'ASCI',
 'CDF',
 'IC',
 'USP',
 'DCup']

In [40]:
w2023 = w2023[w2023['league'] == "WLDs"]

In [41]:
w2023

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,opp_csat25,golddiffat25,xpdiffat25,csdiffat25,killsat25,assistsat25,deathsat25,opp_killsat25,opp_assistsat25,opp_deathsat25
111276,10411-10411_game_1,partial,https://lpl.qq.com/es/stats.shtml?bmid=10411,WLDs,2023,NaN,0,2023-08-06 08:25:22,1,13.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111277,10411-10411_game_1,partial,https://lpl.qq.com/es/stats.shtml?bmid=10411,WLDs,2023,NaN,0,2023-08-06 08:25:22,1,13.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111278,10411-10411_game_1,partial,https://lpl.qq.com/es/stats.shtml?bmid=10411,WLDs,2023,NaN,0,2023-08-06 08:25:22,1,13.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111279,10411-10411_game_1,partial,https://lpl.qq.com/es/stats.shtml?bmid=10411,WLDs,2023,NaN,0,2023-08-06 08:25:22,1,13.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111280,10411-10411_game_1,partial,https://lpl.qq.com/es/stats.shtml?bmid=10411,WLDs,2023,NaN,0,2023-08-06 08:25:22,1,13.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131371,ESPORTSTMNT03_3227847,complete,NaN,WLDs,2023,NaN,0,2023-11-19 10:44:06,3,13.19,...,193.0,2258.0,2388.0,3.0,4.0,7.0,1.0,0.0,0.0,2.0
131372,ESPORTSTMNT03_3227847,complete,NaN,WLDs,2023,NaN,0,2023-11-19 10:44:06,3,13.19,...,259.0,-21.0,467.0,-24.0,0.0,4.0,0.0,2.0,1.0,1.0
131373,ESPORTSTMNT03_3227847,complete,NaN,WLDs,2023,NaN,0,2023-11-19 10:44:06,3,13.19,...,13.0,842.0,2456.0,29.0,0.0,12.0,2.0,1.0,4.0,3.0
131374,ESPORTSTMNT03_3227847,complete,NaN,WLDs,2023,NaN,0,2023-11-19 10:44:06,3,13.19,...,868.0,-8718.0,-10584.0,-57.0,5.0,11.0,15.0,15.0,35.0,5.0
131375,ESPORTSTMNT03_3227847,complete,NaN,WLDs,2023,NaN,0,2023-11-19 10:44:06,3,13.19,...,811.0,8718.0,10584.0,57.0,15.0,35.0,5.0,5.0,11.0,15.0

In [45]:
w2023 = w2023.groupby(['gameid']).agg({'kills':'sum', 'deaths':'sum', 'assists':'sum'})

In [46]:
w2023

                       kills  deaths  assists
gameid
10411-10411_game_1        30      30       84
10411-10411_game_2        32      32       80
10411-10411_game_3        44      46      104
10411-10411_game_4        64      64      152
10412-10412_game_1        32      32       80
...                      ...     ...      ...
ESPORTSTMNT06_2830000     38      40      120
ESPORTSTMNT06_2830023     74      74      170
ESPORTSTMNT06_2830032     64      64      136
ESPORTSTMNT06_2831004     78      78      178
ESPORTSTMNT06_2831008     86      86      212

[137 rows x 3 columns]