## Sobre esse Notebook
O intuito desse notebook é visualizar o impacto do jogador Zeus, que até o momento em que escrevo isso (27/11) saiu da Line-Up da SKT T1 para a temporada 2025. É de conhecimento comum que ele é um dos melhores jogadores do mundo em sua posição (isso se não for o melhor), mas curiosamente decidi verificar como e o quanto esse jogador é impactante para seu (ex-)time.

Caso não entenda algo relativo ao notebook, pode deixar uma _issue_ registrada que avaliarei assim que possível.

Os dados foram removidos da base aberta de Tim Sevenhuysen através do seu site Oracle's Elixir e comportam apenas o ano de 2024.

P.S.: Muito provavelmente esse código será apenas um passo do processo de ETL onde a versão final será trabalhada em um dashboard do Power BI. Aos poucos tento replicar as visualizações em Matplotlib para deixar ele bem completinho.

In [117]:
import pandas as pd

df_2024 = pd.read_csv("../data/2024_lol_esports_data.csv")

df_2024.head(5)

C:\Users\yandrade\AppData\Local\Temp\ipykernel_18500\709371059.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2024 = pd.read_csv("../data/2024_lol_esports_data.csv")

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,opp_csat25,golddiffat25,xpdiffat25,csdiffat25,killsat25,assistsat25,deathsat25,opp_killsat25,opp_assistsat25,opp_deathsat25
0,10660-10660_game_1,partial,https://lpl.qq.com/es/stats.shtml?bmid=10660,DCup,2023,NaN,0,2024-01-01 05:13:15,1,13.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10660-10660_game_1,partial,https://lpl.qq.com/es/stats.shtml?bmid=10660,DCup,2023,NaN,0,2024-01-01 05:13:15,1,13.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10660-10660_game_1,partial,https://lpl.qq.com/es/stats.shtml?bmid=10660,DCup,2023,NaN,0,2024-01-01 05:13:15,1,13.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10660-10660_game_1,partial,https://lpl.qq.com/es/stats.shtml?bmid=10660,DCup,2023,NaN,0,2024-01-01 05:13:15,1,13.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10660-10660_game_1,partial,https://lpl.qq.com/es/stats.shtml?bmid=10660,DCup,2023,NaN,0,2024-01-01 05:13:15,1,13.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
# Verificando os dados para informar o filtro

df_2024["league"].unique()

array(['DCup', 'TSC', 'LEC', 'LCKC', 'LCO', 'UL', 'LLA', 'LCK', 'PRM',
       'LVP SL', 'LFL', 'PCS', 'LJL', 'VCS', 'CBLOL', 'LCS', 'NACL',
       'LPL', 'HM', 'GLL', 'ESLOL', 'NLC', 'TCL', 'LIT', 'LPLOL', 'LDL',
       'EBL', 'CBLOLA', 'AL', 'HC', 'LFL2', 'NEXO', 'LRN', 'LRS', 'EM',
       'MSI', 'LAS', 'CT', 'EPL', 'EWC', 'WLDs', 'AC', 'CDF', 'PRMP',
       'USP', 'HW', 'NLC Aurora Open', 'EBLPA', 'GLLPA', 'IC'],
      dtype=object)

In [119]:
# Filtrando apenas as partidas da LCK que tem dados completos
df_lck = df_2024[(df_2024["league"] == 'LCK') & (df_2024["datacompleteness"] == 'complete')]

df_lck

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,opp_csat25,golddiffat25,xpdiffat25,csdiffat25,killsat25,assistsat25,deathsat25,opp_killsat25,opp_assistsat25,opp_deathsat25
1212,LOLTMNT02_22165,complete,NaN,LCK,2024,Spring,0,2024-01-17 08:20:00,1,14.01,...,218.0,-231.0,-760.0,10.0,0.0,2.0,1.0,1.0,2.0,3.0
1213,LOLTMNT02_22165,complete,NaN,LCK,2024,Spring,0,2024-01-17 08:20:00,1,14.01,...,147.0,963.0,-186.0,21.0,4.0,0.0,1.0,1.0,2.0,1.0
1214,LOLTMNT02_22165,complete,NaN,LCK,2024,Spring,0,2024-01-17 08:20:00,1,14.01,...,235.0,-1244.0,-1329.0,-14.0,2.0,3.0,1.0,2.0,1.0,2.0
1215,LOLTMNT02_22165,complete,NaN,LCK,2024,Spring,0,2024-01-17 08:20:00,1,14.01,...,230.0,1728.0,-272.0,7.0,2.0,3.0,2.0,1.0,1.0,1.0
1216,LOLTMNT02_22165,complete,NaN,LCK,2024,Spring,0,2024-01-17 08:20:00,1,14.01,...,13.0,132.0,-212.0,14.0,0.0,5.0,0.0,0.0,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102295,LOLTMNT03_147405,complete,NaN,LCK,2024,Summer,1,2024-09-08 10:43:57,5,14.16,...,253.0,157.0,-50.0,-4.0,2.0,4.0,0.0,0.0,1.0,1.0
102296,LOLTMNT03_147405,complete,NaN,LCK,2024,Summer,1,2024-09-08 10:43:57,5,14.16,...,255.0,974.0,227.0,-9.0,2.0,4.0,0.0,0.0,2.0,1.0
102297,LOLTMNT03_147405,complete,NaN,LCK,2024,Summer,1,2024-09-08 10:43:57,5,14.16,...,23.0,251.0,1218.0,12.0,0.0,7.0,1.0,0.0,3.0,3.0
102298,LOLTMNT03_147405,complete,NaN,LCK,2024,Summer,1,2024-09-08 10:43:57,5,14.16,...,896.0,-2944.0,-1974.0,-4.0,3.0,8.0,7.0,7.0,22.0,3.0
102299,LOLTMNT03_147405,complete,NaN,LCK,2024,Summer,1,2024-09-08 10:43:57,5,14.16,...,892.0,2944.0,1974.0,4.0,7.0,22.0,3.0,3.0,8.0,7.0

In [120]:
# São inúmeras colunas, mas boa parte delas são estatísticas de equipe
# Preciso selecionar as colunas que são diretamente ligadas à performance de um jogador

df_lck.columns.to_list()

['gameid',
 'datacompleteness',
 'url',
 'league',
 'year',
 'split',
 'playoffs',
 'date',
 'game',
 'patch',
 'participantid',
 'side',
 'position',
 'playername',
 'playerid',
 'teamname',
 'teamid',
 'champion',
 'ban1',
 'ban2',
 'ban3',
 'ban4',
 'ban5',
 'pick1',
 'pick2',
 'pick3',
 'pick4',
 'pick5',
 'gamelength',
 'result',
 'kills',
 'deaths',
 'assists',
 'teamkills',
 'teamdeaths',
 'doublekills',
 'triplekills',
 'quadrakills',
 'pentakills',
 'firstblood',
 'firstbloodkill',
 'firstbloodassist',
 'firstbloodvictim',
 'team kpm',
 'ckpm',
 'firstdragon',
 'dragons',
 'opp_dragons',
 'elementaldrakes',
 'opp_elementaldrakes',
 'infernals',
 'mountains',
 'clouds',
 'oceans',
 'chemtechs',
 'hextechs',
 'dragons (type unknown)',
 'elders',
 'opp_elders',
 'firstherald',
 'heralds',
 'opp_heralds',
 'void_grubs',
 'opp_void_grubs',
 'firstbaron',
 'barons',
 'opp_barons',
 'firsttower',
 'towers',
 'opp_towers',
 'firstmidtower',
 'firsttothreetowers',
 'turretplates',
 'opp_turretplates',
 'inhibitors',
 'opp_inhibitors',
 'damagetochampions',
 'dpm',
 'damageshare',
 'damagetakenperminute',
 'damagemitigatedperminute',
 'wardsplaced',
 'wpm',
 'wardskilled',
 'wcpm',
 'controlwardsbought',
 'visionscore',
 'vspm',
 'totalgold',
 'earnedgold',
 'earned gpm',
 'earnedgoldshare',
 'goldspent',
 'gspd',
 'gpr',
 'total cs',
 'minionkills',
 'monsterkills',
 'monsterkillsownjungle',
 'monsterkillsenemyjungle',
 'cspm',
 'goldat10',
 'xpat10',
 'csat10',
 'opp_goldat10',
 'opp_xpat10',
 'opp_csat10',
 'golddiffat10',
 'xpdiffat10',
 'csdiffat10',
 'killsat10',
 'assistsat10',
 'deathsat10',
 'opp_killsat10',
 'opp_assistsat10',
 'opp_deathsat10',
 'goldat15',
 'xpat15',
 'csat15',
 'opp_goldat15',
 'opp_xpat15',
 'opp_csat15',
 'golddiffat15',
 'xpdiffat15',
 'csdiffat15',
 'killsat15',
 'assistsat15',
 'deathsat15',
 'opp_killsat15',
 'opp_assistsat15',
 'opp_deathsat15',
 'goldat20',
 'xpat20',
 'csat20',
 'opp_goldat20',
 'opp_xpat20',
 'opp_csat20',
 'golddiffat20',
 'xpdiffat20',
 'csdiffat20',
 'killsat20',
 'assistsat20',
 'deathsat20',
 'opp_killsat20',
 'opp_assistsat20',
 'opp_deathsat20',
 'goldat25',
 'xpat25',
 'csat25',
 'opp_goldat25',
 'opp_xpat25',
 'opp_csat25',
 'golddiffat25',
 'xpdiffat25',
 'csdiffat25',
 'killsat25',
 'assistsat25',
 'deathsat25',
 'opp_killsat25',
 'opp_assistsat25',
 'opp_deathsat25']

In [121]:
colunas_desempenho_por_tempo = ['playername', 'position', 'goldat10', 'xpat10', 'csat10', 'golddiffat10', 'xpdiffat10', 'csdiffat10', 'killsat10', 'assistsat10', 'deathsat10', 'goldat15', 'xpat15', 'csat15','golddiffat15', 'xpdiffat15', 'csdiffat15', 'killsat15',  'assistsat15',  'deathsat15','goldat20', 'xpat20', 'csat20', 'golddiffat20','xpdiffat20', 'csdiffat20', 'killsat20', 'assistsat20', 'deathsat20','goldat25', 'xpat25', 'csat25','golddiffat25', 'xpdiffat25', 'csdiffat25', 'killsat25', 'assistsat25', 'deathsat25']

colunas_info_geral = ['playerid', 'playername', 'position', 'champion', 'damagetochampions', 'dpm', 'damageshare', 'damagetakenperminute', 'damagemitigatedperminute', 'wardsplaced', 'wpm', 'wardskilled', 'wcpm', 'controlwardsbought', 'visionscore', 'vspm', 'totalgold', 'earnedgold','earned gpm', 'total cs', 'cspm', 'kills', 'deaths', 'assists']

In [122]:
"""
column_type não necessariamente precisa existir. Tento em vista que o nome das colunas dentro do .agg()
fazem referência apenas àquela lista de colunas. Logo, não necessariamente existe escolha para se colocar
a outra lista de colunas como argumento da função.

Porém mantive pois pretendo adaptar melhor essa função e utilizar vários tipos de colunas diferentes no futuro sem precisar alterar tudo manualmente.

"""

# Criei uma função apenas para organizar o etl em uma única célula

def etl(dataframe, position:str, column_type:list):
    df_position = dataframe[column_type]
    df_position = df_position[df_position["position"] == position]

    df_position = df_position.groupby(["playername"]).agg({"kills":"sum", 
                                                           "assists":"sum",
                                                           "deaths":"sum", 
                                                           "damagetochampions":"mean",
                                                           "dpm":"mean",
                                                           "damagetakenperminute": "mean",
                                                           "damagemitigatedperminute":"mean",
                                                           "visionscore":"mean",
                                                           "totalgold":"mean",
                                                           "total cs":"mean",
                                                           "cspm":"mean"
                                                           })
    
    df_position["kda"] = (df_position["kills"] + df_position["assists"]) / df_position["deaths"]

    nova_ordem = ['kda', 'kills', 'deaths', 'assists',  'damagetochampions', 'dpm', 'damagetakenperminute', 'damagemitigatedperminute', 'visionscore', 'totalgold', 'total cs','cspm']

    df_position = df_position[nova_ordem]

    return df_position.round(2).reset_index()

In [123]:
# Particularmente uma organização odiável, mas útil para ler os processos sem precisa rolar a tela

df_top_players = etl(df_lck, 'top', colunas_info_geral)

In [124]:
df_top_players.sort_values(by=["kda", 
                                "kills", 
                                "deaths", 
                                "assists",
                                "damagetochampions"], 
                                ascending=[False, 
                                            False, 
                                            False,
                                            False, 
                                            False
                                        ]).reset_index(drop=True, inplace=True)

In [125]:
df_top_players

,playername,kda,kills,deaths,assists,damagetochampions,dpm,damagetakenperminute,damagemitigatedperminute,visionscore,totalgold,total cs,cspm
0,Casting,1.44,7,9,6,19292.00,591.39,845.40,810.37,34.67,13115.33,267.67,8.20
1,Clear,2.55,216,238,392,16025.65,494.24,746.56,1008.87,32.02,12453.51,264.72,8.28
2,DnDn,1.68,86,153,171,14080.25,434.22,802.66,1278.18,37.78,12248.25,275.84,8.55
3,Doran,3.23,280,292,664,16882.94,535.78,789.46,910.06,36.52,12414.38,253.23,8.00
4,DuDu,2.75,229,215,363,15746.26,483.87,834.88,1119.86,30.57,13015.30,286.34,8.85
5,Frog,2.20,26,56,97,11839.76,379.91,775.65,900.17,30.52,10526.67,231.76,7.64
6,Kiin,4.42,292,207,623,17491.56,554.13,727.17,1029.86,37.82,12731.58,255.22,8.13
7,Kingen,2.94,271,278,545,17488.73,528.98,745.37,905.56,39.47,13014.63,271.75,8.08
8,Mihile,1.94,55,88,116,15552.48,482.74,839.78,951.14,35.86,12156.17,265.48,8.27
9,Morgan,1.90,169,245,297,15880.79,487.12,848.32,1028.07,34.60,11838.99,263.93,8.32
10,PerfecT,2.82,204,238,467,15500.39,472.50,754.52,1066.86,39.98,12261.87,257.61,7.87
11,Rascal,1.55,103,182,180,13485.58,407.16,810.58,1025.93,37.81,11934.63,265.55,8.19
12,Zeus,2.95,354,296,519,17955.00,560.67,750.26,822.75,34.84,13266.98,271.69,8.51

In [126]:
df_top_players.to_csv("../data/top_players.csv")

In [127]:
def etl_t(dataframe, position:str, column_type:list):
    df_position = dataframe[column_type]
    df_position = df_position[df_position["position"] == position]


    df_position = df_position.groupby(["playername"]).agg({item:"mean" for item in colunas_desempenho_por_tempo if df_lck[item].dtype == 'float64'})

    return df_position.round(2).reset_index()

In [128]:
dft_top_players = etl_t(df_lck, 'top', colunas_desempenho_por_tempo)

In [129]:
dft_top_players

,playername,goldat10,xpat10,csat10,golddiffat10,xpdiffat10,csdiffat10,killsat10,assistsat10,deathsat10,...,deathsat20,goldat25,xpat25,csat25,golddiffat25,xpdiffat25,csdiffat25,killsat25,assistsat25,deathsat25
0,Casting,3602.33,4909.33,82.67,352.67,158.00,6.33,0.67,0.33,0.67,...,1.00,9750.00,12423.33,213.67,488.67,-618.00,0.67,1.67,1.33,1.67
1,Clear,3328.64,4843.50,82.95,-63.94,-33.09,-2.81,0.18,0.18,0.23,...,1.02,9412.05,13005.37,220.35,-165.28,-396.85,-7.94,1.41,2.12,1.51
2,DnDn,3294.53,4859.13,82.15,-52.02,-39.44,-1.93,0.20,0.15,0.27,...,1.11,9161.94,13154.00,223.79,-818.81,-720.57,-9.34,0.94,1.43,1.74
3,Doran,3278.77,4730.32,79.17,-13.14,33.07,-0.43,0.22,0.28,0.38,...,1.14,9412.63,12878.69,210.77,341.06,467.36,1.65,1.49,3.16,1.62
4,DuDu,3318.60,4833.73,83.26,-24.57,-33.70,0.12,0.27,0.12,0.24,...,1.00,9522.36,13283.10,229.44,138.01,121.17,10.30,1.36,1.80,1.40
5,Frog,3237.10,4807.43,83.00,-248.71,-208.90,-6.81,0.05,0.05,0.29,...,1.14,8493.60,12308.70,204.80,-1224.20,-1055.10,-24.70,0.75,2.30,1.60
6,Kiin,3387.22,4781.69,81.33,184.54,148.10,5.44,0.34,0.25,0.39,...,1.03,9591.90,13025.59,214.29,729.97,714.78,8.17,1.77,2.74,1.33
7,Kingen,3303.56,4723.44,79.77,7.86,22.82,0.05,0.30,0.17,0.29,...,1.02,9405.76,13070.53,215.94,118.70,410.55,2.61,1.55,2.51,1.42
8,Mihile,3124.14,4570.86,74.90,-242.34,-46.10,-4.83,0.14,0.21,0.55,...,1.31,8905.50,12719.36,214.14,-849.68,-243.25,-3.68,1.04,1.96,1.89
9,Morgan,3288.43,4818.67,82.71,-42.52,-111.34,-1.59,0.15,0.17,0.28,...,1.13,9133.79,12731.16,218.71,-562.64,-785.36,-4.22,1.31,1.85,1.85
10,PerfecT,3319.84,4850.63,81.76,14.85,47.48,0.71,0.22,0.20,0.32,...,1.12,9047.82,12787.89,211.62,-324.11,-200.21,-8.10,1.17,2.25,1.52
11,Rascal,3206.92,4758.77,79.19,-206.32,-107.94,-5.92,0.16,0.19,0.27,...,1.08,9094.18,12661.72,215.86,-830.70,-778.74,-13.11,1.21,1.65,1.56
12,Zeus,3375.29,4738.41,81.43,161.11,28.35,4.55,0.27,0.22,0.38,...,1.17,9841.09,13077.40,220.69,863.31,472.11,13.17,1.92,2.13,1.69

In [130]:
dft_top_players.to_csv('../data/top_players_time.csv')

## Visualização de Dados

Nesse ponto da análise a ideia é analisar utilizando o Matplotlib com as informações que foram agrupadas dentro do último _Dataframe_ que eu criei. Quero aproveitar que selecionei todos os tops e realizar uma comparação entre Zeus e Doran. Com a saída do primeiro citado, seu ex-clube buscou o segundo para cobrir sua vaga.

In [132]:
import matplotlib.pyplot as plt

#### Extra

Realizando algumas sintaxes diferentes do Jupyter notebook. Os testes aqui são apenas para questões didáticas.

In [133]:
# Se colocar ? após um método ou tipo de dado ele retorna informações dos dados

print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [134]:
df_top_players?

Type:        DataFrame
String form:
playername   kda  kills  deaths  assists  damagetochampions     dpm  \
           0     Casting  1.44     <...> 65.48  8.27
           9     263.93  8.32
           10    257.61  7.87
           11    265.55  8.19
           12    271.69  8.51
Length:      13
File:        c:\users\yandrade\appdata\local\anaconda3\lib\site-packages\pandas\core\frame.py
Docstring:
Two-dimensional, size-mutable, potentially heterogeneous tabular data.

Data structure also contains labeled axes (rows and columns).
Arithmetic operations align on both row and column labels. Can be
thought of as a dict-like container for Series objects. The primary
pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, dataclass or list-like objects. If
    data is a dict, column order follows insertion-order. If a dict contains Series
    which have an index defined, it is aligned by its index. This alignment also
    occurs if data is a Series or a DataFrame itself. Alignment is done on
    Series/DataFrame inputs.

    If data is a list of dicts, column order follows insertion-order.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame when data does not have them,
    defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
    will perform column selection instead.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool or None, default None
    Copy data from inputs.
    For dict data, the default of None behaves like ``copy=True``.  For DataFrame
    or 2d ndarray input, the default of None behaves like ``copy=False``.
    If data is a dict containing one or more Series (possibly of different dtypes),
    ``copy=False`` will ensure that these inputs are not copied.

    .. versionchanged:: 1.3.0

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_table : Read general delimited file into DataFrame.
read_clipboard : Read text from clipboard into DataFrame.

Notes
-----
Please reference the :ref:`User Guide <basics.dataframe>` for more information.

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from a dictionary including Series:

>>> d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
>>> pd.DataFrame(data=d, index=[0, 1, 2, 3])
   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

Constructing DataFrame from a numpy ndarray that has labeled columns:

>>> data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
...                 dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
>>> df3 = pd.DataFrame(data, columns=['c', 'a'])
...
>>> df3
   c  a
0  3  1
1  6  4
2  9  7

Constructing DataFrame from dataclass:

>>> from dataclasses import make_dataclass
>>> Point = make_dataclass("Point", [("x", int), ("y", int)])
>>> pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])
   x  y
0  0  0
1  0  3
2  2  3

Constructing DataFrame from Series/DataFrame:

>>> ser = pd.Series([1, 2, 3], index=["a", "b", "c"])
>>> df = pd.DataFrame(data=ser, index=["a", "c"])
>>> df
   0
a  1
c  3

>>> df1 = pd.DataFrame([1, 2, 3], index=["a", "b", "c"], columns=["x"])
>>> df2 = pd.DataFrame(data=df1, index=["a", "c"])
>>> df2
   x
a  1
c  3

In [135]:
# * é um caractere curinga. O uso dele é similar ao % do SQL, mas deve ser utilizado junto com o ?

df_top_players.*apply*?

df_top_players.apply
df_top_players.applymap